<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.steph.gameeventscript.textmate</string>
	<key>CFBundleName</key>
	<string>GameEventScript TextMate</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>name</key>
	<string>GameEventScript TextMate</string>
	<key>uuid</key>
	<string>2F8C9427-C453-4683-A3FB-FA8D888870E9</string>
</dict>
</plist>
